@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.light {
  --primary: #ffffff;
  --body-popup-primary: rgb(255, 255, 255);
  --button-bg-primary: #000000;
  --button-hover-primary: #000000;
  --text-primary: black;
  --text-button-primary: white;
}

.dark {
  --primary: rgb(33, 33, 33);
  --body-popup-primary: rgb(33, 33, 33);
  --button-bg-primary: #ffffff;
  --button-hover-primary: #000000;
  --text-primary: #ffffff;
  --text-button-primary: black;
}

body {
  padding-top: 7rem;
  background-color: var(--primary);
}

header {
  background-color: var(--body-popup-primary);
}

header button {
  color: var(--text-button-primary);
  background-color: var(--button-bg-primary);
}

#hamburger-menu span {
  background-color: var(--button-bg-primary);
}

footer {
  background-color: var(--body-popup-primary);
}

footer a {
  color: var(--text-primary);
}

.close-popup-svg {
  fill: var(--button-bg-primary);
}

.popup,
.popup-secondary {
  background-color: var(--body-popup-primary);
}

.popup input[type="submit"] {
  color: var(--text-button-primary);
  background-color: var(--button-bg-primary);
}

#hero-title {
  font-size: clamp(10px, 7vw + 2rem, 30rem);
}

h1,
h2,
h3,
p,
span,
a {
  color: var(--text-primary);
}
